{% macro input(type, id, name, required, aria-required, aria-describedby, maxlength, aria-describedby, aria-describedby) %}
<div class="input-field">
    <div class="group-label">	
        <label for="name">Name</label>
        <legend class="input-legend">required</legend>
        <legend class="character-count" aria-live="polite"></legend>
    </div>
    <input 
        type="text"  
        id="name" 
        name="name" 
        required
        aria-required="true"
        aria-describedby="nameError"
        maxlength="80"
        aria-describedby="character-count"
        aria-describedby="input-format"
    />	
    <div id="nameError" class="input-error-message" role="alert" aria-live="assertive">
        This field is required
    </div>
    <i data-lucide="circle-x" class="input-error-message-icon"></i>
</div>
{% endmacro %}